<mat-card>

    <mat-card-header>
        <mat-card-title>
            <mat-icon>assignment</mat-icon>
            Novo Lançamento
            <br />
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div id="row">
            <div id="col-md-12">
                <div class="alert alert-danger" role="alert" *ngFor="let erro of msgErros">
                    {{ erro.message }}
                </div>
            </div>
        </div>

        <div class="container">
            <form #arquivoForm="ngForm" (ngSubmit)="onSubmit()">

                <div id="row">

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-icon matSuffix>fingerprint</mat-icon>
                        <mat-label> <b>username:</b> </mat-label>
                        <input matInput placeholder="Informe o username:" name="username"
                            [(ngModel)]="lancamento.username" disabled="true" />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label> <b>Tipo:</b> </mat-label>
                        <select matNativeControl matInput [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="lancamento.tipo">
                            <option *ngFor="let tipo of tipo_doc" [ngValue]="tipo">
                                {{ tipo }}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label> <b>natureza:</b> </mat-label>
                        <select matNativeControl matInput [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="lancamento.idNatureza">
                            <option *ngFor="let natureza of natureza" [ngValue]="natureza.id">
                                {{ natureza.descricao }}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-icon matSuffix>description</mat-icon>
                        <mat-label> <b>descricao:</b> </mat-label>
                        <input matInput placeholder="Informe descricao:" name="descricao"
                            [(ngModel)]="lancamento.descricao" />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label> <b>dataReferencia:</b> </mat-label>
                        <input matInput placeholder="Informe a dataReferencia" type="date" name="dataReferencia"
                            [(ngModel)]="lancamento.dataReferencia" />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-icon matSuffix>attach_money</mat-icon>
                        <mat-label> <b>valorTotal:</b> </mat-label>
                        <input matInput placeholder="Informe o valorTotal:" name="valorTotal" type="text"
                            [(ngModel)]="lancamento.valorTotal" mask="separator.2" thousandSeparator="."
                            [allowNegativeNumbers]="false" suffix=" $" />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-icon matSuffix>note_add</mat-icon>
                        <mat-label> <b>qtdeParcelas:</b> </mat-label>
                        <input matInput placeholder="Informe qtdeParcelas:" type="number" min="1" name="qtdeParcelas"
                            [(ngModel)]="lancamento.qtdeParcelas" />
                    </mat-form-field>

                </div>

                <br />

                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-sync-alt"></i>
                    <mat-icon>save</mat-icon>Salvar
                </button>
                <button type="button" class="btn btn-danger ml-2" (click)="fecharDialog()">
                    <i class="fa fa-solid fa-arrow-alt-circle-left"></i>
                    <mat-icon>keyboard_return</mat-icon>Voltar
                </button>
            </form>
        </div>


    </mat-card-content>



</mat-card>