<mat-card class="lancamento-form-card">

    <mat-card-header class="lancamento-form-header">
        <mat-card-title>
            <mat-icon>assignment</mat-icon>
            Novo Lançamento
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div class="erros-container" *ngIf="msgErros.length > 0">
            <div class="alert alert-danger" role="alert" *ngFor="let erro of msgErros">
                {{ erro.message }}
            </div>
        </div>

        <div class="form-container">
            <form #arquivoForm="ngForm" (ngSubmit)="onSubmit()">

                <div class="form-grid">

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-icon matSuffix>fingerprint</mat-icon>
                        <mat-label> <strong>Usuário:</strong> </mat-label>
                        <input matInput placeholder="Informe o username:" name="username"
                            [(ngModel)]="lancamento.username" disabled="true" />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label> <strong>Origem Lançamento:</strong> </mat-label>
                        <select matNativeControl matInput [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="lancamento.origem">
                            <option *ngFor="let origem of origemEnum" [ngValue]="origem">
                                {{ origem }}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label> <strong>Tipo:</strong> </mat-label>
                        <select matNativeControl matInput [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="lancamento.tipo">
                            <option *ngFor="let tipo of tipo_doc" [ngValue]="tipo">
                                {{ tipo }}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label> <strong>natureza:</strong> </mat-label>
                        <select matNativeControl matInput [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="lancamento.idNatureza">
                            <option *ngFor="let natureza of natureza" [ngValue]="natureza.id">
                                {{ natureza.descricao }}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field class="full-width campo-descricao" appearance="fill">
                        <mat-icon matSuffix>description</mat-icon>
                        <mat-label> <strong>descricao:</strong> </mat-label>
                        <input matInput placeholder="Informe descricao:" name="descricao"
                            [(ngModel)]="lancamento.descricao" />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label> <strong>dataReferencia:</strong> </mat-label>
                        <input matInput placeholder="Informe a dataReferencia" type="date" name="dataReferencia"
                            [(ngModel)]="lancamento.dataReferencia" />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-icon matSuffix>attach_money</mat-icon>
                        <mat-label> <strong>valorTotal:</strong> </mat-label>
                        <input matInput placeholder="Informe o valorTotal:" name="valorTotal" type="text"
                            [(ngModel)]="lancamento.valorTotal" currencyMask
                            [options]="valorTotalCurrencyOptions" />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-icon matSuffix>note_add</mat-icon>
                        <mat-label> <strong>qtdeParcelas:</strong> </mat-label>
                        <input matInput placeholder="Informe qtdeParcelas:" type="number" min="1" name="qtdeParcelas"
                            [(ngModel)]="lancamento.qtdeParcelas" />
                    </mat-form-field>

                </div>

                <div class="form-acoes">
                    <button type="submit" class="btn btn-primary form-botao">
                        <em class="fa fa-sync-alt"></em>
                        <mat-icon>save</mat-icon>Salvar
                    </button>
                    <button type="button" class="btn btn-danger form-botao" (click)="fecharDialog()">
                        <em class="fa fa-solid fa-arrow-alt-circle-left"></em>
                        <mat-icon>keyboard_return</mat-icon>Voltar
                    </button>
                </div>
            </form>
        </div>


    </mat-card-content>



</mat-card>
