<h2 mat-dialog-title>
    <strong>ATENÇÃO:</strong>
</h2>
<mat-dialog-content>
    {{ message }}
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" class="btn btn-success">
        <em class="fa fa-save"></em>
        <mat-icon> check_circle</mat-icon> Confirmar
    </button>
    <button mat-button [mat-dialog-close]="false" class="btn btn-danger ml-2">
        <em class="fa fa-solid fa-arrow-alt-circle-left"></em>
        <mat-icon>fast_rewind</mat-icon> Cancelar
    </button>
</mat-dialog-actions>