<mat-card>

    <mat-card-header>
        <mat-card-title>
            <mat-icon>assignment</mat-icon>
            Nova Natureza
            <br />
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div id="row">
            <div id="col-md-12">
                <div class="alert alert-danger" role="alert" *ngFor="let erro of msgErros">
                    {{ erro }}
                </div>
            </div>
        </div>

        <div class="container">
            <form #arquivoForm="ngForm" (ngSubmit)="onSubmit()">

                <mat-form-field class="full-width" appearance="fill">
                    <mat-icon matSuffix>fingerprint</mat-icon>
                    <mat-label> <strong>username:</strong> </mat-label>
                    <input matInput placeholder="Informe o username:" name="username" [(ngModel)]="natureza.username"
                        disabled="true" />
                </mat-form-field>


                <mat-form-field class="full-width" appearance="fill">
                    <mat-icon matSuffix>fingerprint</mat-icon>
                    <mat-label> <strong>natureza:</strong> </mat-label>
                    <input matInput placeholder="Informe a descricao:" name="descricao" [(ngModel)]="natureza.descricao"
                        disabled="false" />
                </mat-form-field>

                <br />

                <button type="submit" class="btn btn-primary">
                    <em class="fa fa-sync-alt"></em>
                    <mat-icon>save</mat-icon>Salvar
                </button>
                <button type="button" class="btn btn-danger ml-2" (click)="fecharDialog()">
                    <em class="fa fa-solid fa-arrow-alt-circle-left"></em>
                    <mat-icon>keyboard_return</mat-icon>Voltar
                </button>
            </form>
        </div>


    </mat-card-content>



</mat-card>