<p class="natureza-titulo">
    <mat-toolbar class="natureza-toolbar">
        <span>
            Naturezas
        </span>
    </mat-toolbar>
</p>

<mat-card class="natureza-filtros-card">
    <mat-card-content>
        <div class="natureza-filtros">
            <mat-form-field class="full-width filtro-geral" appearance="fill">
                <mat-icon matSuffix>search</mat-icon>
                <mat-label>Filtro Geral</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Alimentação" #input>
            </mat-form-field>

            <button class="btn btn-primary nova-botao" (click)="novaNatureza()">
                <mat-icon>exposure_plus_1</mat-icon>
                <em class="fa fa-plus"></em>Nova
            </button>
        </div>
    </mat-card-content>
</mat-card>

<div class="natureza-tabela">
    <div class="natureza-tabela-cabecalho">
        <strong>Total de Registros: {{ dataSource.data.length }}</strong>
    </div>

    <div class="mat-elevation-z2 col-md-12 table-responsive tabela-container">
        <table mat-table [dataSource]="dataSource" class="naturezas-table">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="coluna-id"> Id </th>
                <td mat-cell *matCellDef="let natureza" class="coluna-id" data-label="Id" (click)=" selecionaLinha(natureza)"
                    [class.linha-selecionada]="itemSelecionado.has(natureza)"> {{ natureza.id }} </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let natureza" class="coluna-descricao" data-label="Descrição" (click)=" selecionaLinha(natureza)"
                    [class.linha-selecionada]="itemSelecionado.has(natureza)"> {{ natureza.descricao }} </td>
            </ng-container>

            <ng-container matColumnDef="del">
                <th mat-header-cell *matHeaderCellDef class="coluna-acao"> Ação </th>
                <td mat-cell *matCellDef="let natureza" class="coluna-acao" data-label="Excluir">
                    <mat-icon class="cursorMao" (click)="dialogExclusao(natureza)">
                        delete
                    </mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row tabela-linha"></tr>

            <tr class="mat-row sem-registros" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    <strong>Sem registros na tabela!</strong>
                </td>
            </tr>
        </table>
    </div>
</div>
