.full-width {
    width: 100%;
}
.linha-selecionada {
    font-weight: bold;
}

.cursorMao {
    cursor: pointer;
    color: blue;
}

.mat-row.mat-row:nth-child(odd) {
    background-color: #ffffff; /* Cor de fundo para linhas ímpares */
}

/* Estilo para linhas pares */
.mat-row.mat-row:nth-child(even) {
    background-color: #e2e2e2; /* Cor de fundo para linhas pares */
}