<footer class="app-footer mt-auto">
    <div class="footer-content">
        <div>
            <strong>Fluxo Caixa</strong>
            <span>CloudTecnologia © 2023</span>
        </div>

        <div class="footer-links">
            <a href="{{ swaggerApi }}" target="_blank" rel="noopener">
                Swagger API
            </a>
            <a href="https://www.linkedin.com/in/thiago-junior-amorim-de-melo-84246a149/" target="_blank"
                rel="noopener">
                Thiago JR
            </a>
        </div>
    </div>
</footer>
